<div class="container">

  <p>
    <br>
    <br> Angular CLI: 7.0.5
    <br> Node: 8.10.0
    <br> OS: linux x64
    <br> Angular: 7.0.3
    <br>
    <br> Package Version
    <br> -----------------------------------------------------------
    <br> @angular-devkit/architect 0.10.5
    <br> @angular-devkit/build-angular 0.10.5
    <br> @angular-devkit/build-optimizer 0.10.5
    <br> @angular-devkit/build-webpack 0.10.5
    <br> @angular-devkit/core 7.0.5
    <br> @angular-devkit/schematics 7.0.5
    <br> @angular/cli 7.0.5
    <br> @ngtools/webpack 7.0.5
    <br> @schematics/angular 7.0.5
    <br> @schematics/update 0.10.5
    <br> rxjs 6.3.3
    <br> typescript 3.1.6
    <br> webpack 4.19.1
  </p>
</div>
