<app-header [selectedPage]="selectedPage" (pageChangeEvent)="pageUpdated($event)"></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>{{selectedPage | uppercase }}</h1>
    </div>
  </div>
  <hr>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/" (click)="goTo('home')">Home</a>
      </li>
      <li class="breadcrumb-item active"
          *ngIf="selectedPage !== 'home'">
        <a [routerLink]="selectedPage">{{selectedPage}}</a>
      </li>
    </ol>
  </nav>
  <router-outlet></router-outlet>
</div>
