/* You can add global styles to this file, and also import other style files */
body
  background-color: #1b2031
  color: #dddddd

hr
  background: rgba(0,0,0,0.25)

button
  background: linear-gradient(to right, #02cdf8, #5239b2)
  color: #eeeeee

h1
  color: #fc4680

h2
  color: #02cdf8

input
  background: rgba(0,0,0,0.25)
  color: #eeeeee
  border: 1px solid #5239b2
